*~
*.DS_Store
__pycache__
*.pyc
docs/build
.coverage
htmlcov
.docker
.idea
CHRIS_REMOTE_FS/
dc.out
.vscode
celerybeat.pid
swarm/prod/secrets/
kubernetes/prod/base/secrets/

venv
.venv
.mambaenv

# created by dev container bc UBI sets HOME to the project src dir
chris_backend/.config
chris_backend/.bash_history
chris_backend/.python_history
chris_backend/.lesshist

# created by `just prefer`
.preference
