# https://docs.docker.com/compose/yml/
# Each service defined in docker-compose.yml must specify exactly one of
# image or build. Other keys are optional, and are analogous to their
# docker run command-line counterparts.
#
# As with docker run, options specified in the Dockerfile (e.g., CMD,
# EXPOSE, VOLUME, ENV) are respected by default - you don't need to
# specify them again in docker-compose.yml.
#

version: '3.7'

services:

  chris:
    image: ${CHRISREPO}/chris
    env_file:
      - ./secrets/.chris.env
      - ./secrets/.chris_db.env
      - ./secrets/.swift_service.env
    ports:
      - "8000:8000"
    depends_on:
      - chris_db
      - swift_service
      - queue
      - chris_store
      - pfcon_service
    restart: on-failure
    networks:
      - local
    labels:
      name: "ChRIS_ultron_backEnd"
      role: "Production server using Apache's mod_wsgi"

  worker:
    image: ${CHRISREPO}/chris
    entrypoint: ''
    command: celery -A core worker -c 4 -l info -Q main
    env_file:
      - ./secrets/.chris.env
      - ./secrets/.chris_db.env
      - ./secrets/.swift_service.env
    depends_on:
      - chris_db
      - swift_service
      - queue
      - pfcon_service
    restart: on-failure
    networks:
      - local
    labels:
      name: "ChRIS_ultron_backEnd Asynchronous Worker"
      role: "Production async worker"

  scheduler:
    image: ${CHRISREPO}/chris
    entrypoint: ''
    command: celery -A core beat -l info --pidfile /home/localuser/celerybeat.pid --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - ./secrets/.chris.env
      - ./secrets/.chris_db.env
      - ./secrets/.swift_service.env
    depends_on:
      - chris_db
      - swift_service
      - queue
    restart: on-failure
    networks:
      - local
    labels:
      name: "ChRIS_ultron_backEnd Periodic Tasks Scheduler"
      role: "Production periodic tasks scheduler"

  chris_db:
    image: mysql:5
    volumes:
      - chris_db_data:/var/lib/mysql
    env_file:
      - ./secrets/.chris_db.env
    restart: on-failure
    networks:
      - local
    labels:
      name: "ChRIS_ultron_backEnd MySQL Database"
      role: "Production MySQL database"

  queue:
    image: rabbitmq:3
    restart: on-failure
    networks:
      - local
    labels:
      name: "ChRIS_ultron_backEnd Asynchronous Task Queue"
      role: "Production async task queue"

  chris_store:
    image: ${CHRISREPO}/chris_store
    env_file:
      - ./secrets/.chris_store.env
      - ./secrets/.chris_store_db.env
      - ./secrets/.swift_service.env
    ports:
      - "8010:8010"
    depends_on:
      - chris_store_db
      - swift_service
    restart: on-failure
    networks:
      local:
        aliases:
          - chris-store.local
    labels:
      name: "ChRIS_store"
      role: "Chris store service"

  chris_store_db:
    image: mysql:5
    volumes:
      - chris_store_db_data:/var/lib/mysql
    env_file:
      - ./secrets/.chris_store_db.env
    restart: on-failure
    networks:
      - local
    labels:
      name: "ChRIS_store MySQL Database"
      role: "Chris store database"

  swift_service:
    image: fnndsc/docker-swift-onlyone
    init: true
    volumes:
      - swift_storage:/srv
    env_file:
      - ./secrets/.swift_service.env
    ports:
      - "8080:8080"
    restart: on-failure
    networks:
      - local
    labels:
      name: "swift"
      role: "swift object storage service"

  pfcon_service:
    image: ${CHRISREPO}/pfcon
    env_file:
      - ./secrets/.pfcon_service.env
    ports:
      - "5005:5005"
    depends_on:
      - pman_service
      - pfioh_service
    restart: on-failure
    networks:
      local:
        aliases:
          - pfcon.local
      remote:
    labels:
      name: "pfcon"
      role: "pfcon service"

  pfioh_service:
    # We need to map a physical dir in the HOST to the key store in pfioh.
    # The keystore is specified by the --storeBase flag.
    image: ${CHRISREPO}/pfioh
    command: ["--forever", "--httpResponse", "--createDirsAsNeeded", "--storeBase", "/hostFS/storeBase", "--verbosity", "1"]
    volumes:
      - ${STOREBASE}:/hostFS/storeBase
    ports:
      - "5055:5055"
    restart: on-failure
    networks:
      - remote
    labels:
      name: "pfioh"
      role: "pfioh service"

  pman_service:
    # Since pman spins off containers of its own it needs to mount storeBase dir (where
    # pfioh shares the data) into the spawned container. However, it can't mount a dir
    # inside itself to the spawned container, it has to mount an actual existing
    # directory in the host. This directory is passed in the STOREBASE env variable.
    environment:
      - STOREBASE
    image: ${CHRISREPO}/pman
    env_file:
      - ./secrets/.pman_service.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "5010:5010"
    restart: on-failure
    networks:
      - remote
    labels:
      name: "pman"
      role: "pman service"

networks:
  local:
  remote:

volumes:
  chris_db_data:
  chris_store_db_data:
  swift_storage:
