# https://docs.docker.com/compose/yml/
# Each service defined in docker-compose.yml must specify exactly one of
# image or build. Other keys are optional, and are analogous to their
# docker run command-line counterparts.
#
# As with docker run, options specified in the Dockerfile (e.g., CMD,
# EXPOSE, VOLUME, ENV) are respected by default - you don't need to
# specify them again in docker-compose.yml.
#

version: '3'

services:

  chris_dev:
    image: ${CREPO}/chris:dev
    volumes:
      - ./chris_backend:/home/localuser/chris_backend
    environment:
      - CHRIS_DEBUG_QUIET
    ports:
      - "8000:8000"
    depends_on:
      - chris_dev_db
      - chrisstore
      - swift_service
      - pfcon_service
    labels:
      name: "ChRIS_ultron_backEnd"
      role: "Backend development server"

  chris_dev_db:
    image: mysql:5
    volumes:
      - chris_dev_db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=rootp
      - MYSQL_DATABASE=chris_dev
      - MYSQL_USER=chris
      - MYSQL_PASSWORD=Chris1234
    labels:
      name: "ChRIS_ultron_backEnd MySQL Database"
      role: "Backend development database"

  chrisstore:
    image: ${CREPO}/chris_store
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
      - DJANGO_ALLOWED_HOSTS=*
      - DJANGO_SECRET_KEY="w1kxu^l=@pnsf!5piqz6!!5kdcdpo79y6jebbp+2244yjm*#+k"
      - DJANGO_CORS_ORIGIN_ALLOW_ALL=true
      - DJANGO_CORS_ORIGIN_WHITELIST=babymri.org
      - DATABASE_HOST=chris_store_db
      - DATABASE_PORT=3306
      - SWIFT_AUTH_URL=http://swift_service:8080/auth/v1.0
      - MYSQL_ROOT_PASSWORD=rootp
      - MYSQL_DATABASE=chris_store
      - MYSQL_USER=chris
      - MYSQL_PASSWORD=Chris1234
      - SWIFT_USERNAME=chris:chris1234
      - SWIFT_KEY=testing
      - SWIFT_CONTAINER_NAME=store_users
    ports:
      - "8010:8010"
    depends_on:
      - chris_store_db
      - swift_service
    labels:
      name: "ChRIS_store"
      role: "Chris store service"

  chris_store_db:
    image: mysql:5
    volumes:
      - chris_store_db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=rootp
      - MYSQL_DATABASE=chris_store
      - MYSQL_USER=chris
      - MYSQL_PASSWORD=Chris1234
    labels:
      name: "ChRIS_store MySQL Database"
      role: "Chris store database"

  swift_service:
    image: fnndsc/docker-swift-onlyone
    volumes:
      - swift_storage_dev:/srv
    environment:
      - SWIFT_USERNAME=chris:chris1234
      - SWIFT_KEY=testing
      - SWIFT_CONTAINER_NAME=store_users
    ports:
      - "8080:8080"
    labels:
      name: "Swift"
      role: "Swift object storage service"

  pfcon_service:
    image: ${CREPO}/pfcon${TAG}
    volumes:
      - ./FS/data:/data
    command: ["--forever", "--httpResponse", "--verbosity", "1"]
    ports:
      - "5005:5005"
    depends_on:
      - swift_service
      - pman_service
      - pfioh_service
    labels:
      name: "pfcon"
      role: "pfcon service"

  pfioh_service:
    # The following is a bit complicated... Basically we need to map a physical dir
    # in the HOST to the key store in pfioh. The keystore is specified by the
    # --storeBase flag.
    image: ${CREPO}/pfioh${TAG}
    command: ["--forever", "--httpResponse", "--createDirsAsNeeded", "--storeBase", "/hostFS/storeBase", "--verbosity", "1"]
    volumes:
      - ./FS/remote:/hostFS/storeBase
    ports:
      - "5055:5055"
    labels:
      name: "pfioh"
      role: "pfioh service"

  pman_service:
    # pman also needs access to the pfioh storeBase folder (and hence the volume)
    # mapping from the HOST file system space.
    #
    # There is however an extra twist. Since pman spins off containers of its
    # own, it needs to mount this storeBase dir into the spawned container.
    # However, it can't mount a dir inside itself to the spawned container,
    # it has to mount an actaul existing directory. This directory is
    # passed in the SHAREDIRBASE env variable, and will override the base
    # mapping of SHAREDIR inside pman to the swarm manager. Note that the
    # full path to the spawned container should be ${SHAREDIRBASE} + keyStore!
    environment:
      - STOREBASE
    image: ${CREPO}/pman${TAG}
    command: ["--rawmode", "1", "--http", "--port", "5010", "--listeners", "12", "--verbosity", "1"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./FS/remote:/hostFS/storeBase
    ports:
      - "5010:5010"
    labels:
      name: "pman"
      role: "pman service"

volumes:
  chris_dev_db_data:
  chris_store_db_data:
  swift_storage_dev:
