[Unit]
Description=
After=network.service

[Service]
Type=simple
User={{ APP_USER }}
ExecStart=/usr/bin/podman run --name {{ WORKER_PERIODIC_NAME }}\{\% if APP_POD_NETWORK is defined \%\} --pod {{ WORKER_PERIODIC_POD }}\{\% endif \%\}\{\% if APP_CONTAINER_NETWORK is defined \%\} --network {{ APP_CONTAINER_NETWORK }}\{\% endif \%\} -v {{ APP_BACKEND_DATA }}:/home/localuser/chris_backend --rm -e "DJANGO_SETTINGS_MODULE=config.settings.local" -e "DJANGO_DB_MIGRATE=off" -e "DJANGO_COLLECTSTATIC=off" -e "SWIFT_HOSTNAME={{ SWIFT_HOSTNAME }}" -e "STORE_HOSTNAME={{ STORE_HOSTNAME }}" -e "PFCON_HOSTNAME={{ PFCON_HOSTNAME }}" -e "QUEUE_HOSTNAME={{ QUEUE_HOSTNAME }}" -e "DEV_DB_HOSTNAME={{ DEV_DB_HOSTNAME }}" {{ WORKER_PERIODIC_IMAGE }}:{{ WORKER_PERIODIC_VERSION }} celery -A core worker -c 1 -l DEBUG -Q periodic
ExecStop=/usr/bin/podman rm {{ WORKER_PERIODIC_NAME }} -f
Restart=on-failure

[Install]
WantedBy=multi-user.target
